{% extends 'webApp/base.html' %}

{% block title %}
Выставить на продажу
{% endblock %}

{% block content %}
    <div class="container-input">
        <h1 class="text-head">Публикация квартиры для продажи</h1>
        <form id="form-add-apartment" method="post">
            {% csrf_token %}
            <p>
                {% if form is not null %}
                    <input type="text" name="fio" value="{{ form.fio }}" placeholder="ФИО"/>
                {% else %}
                    <input type="text" name="fio" placeholder="ФИО"/>
                {% endif %}
            </p>
            <p>
                {% if form is not null %}
                    <input type="text" name="phone" value="{{ form.phone }}" placeholder="Телефон"/>
                {% else %}
                    <input type="text" name="phone" placeholder="Телефон"/>
                {% endif %}
            </p>
            <p>
                {% if form is not null %}
                    <input type="text" name="district" value="{{ form.district }}" placeholder="Район"/>
                {% else %}
                    <input type="text" name="district" placeholder="Район"/>
                {% endif %}
            </p>
            <p>
                {% if form is not null %}
                    <input type="number" name="number_floors" value="{{ form.number_floors }}" placeholder="Этажей в доме"/>
                {% else %}
                    <input type="number" name="number_floors" placeholder="Этажей в доме"/>
                {% endif %}
            </p>
            <p>
                {% if form is not null %}
                    <input type="number" name="number_sell_floor" value="{{ form.number_sell_floor }}" placeholder="№ этажа"/>
                {% else %}
                    <input type="number" name="number_sell_floor" placeholder="№ этажа"/>
                {% endif %}
            </p>
            <p>
                {% if form is not null %}
                    <input type="number" name="area" step="0.01" value="{{ form.area }}" placeholder="Площадь"/>
                {% else %}
                    <input type="number" name="area" step="0.01" placeholder="Площадь"/>
                {% endif %}
            </p>
            <p>
                {% if form is not null %}
                    <input type="number" name="price" step="0.01" value="{{ form.price }}" placeholder="Цена"/>
                {% else %}
                    <input type="number" name="price" step="0.01" placeholder="Цена"/>
                {% endif %}
            </p>
            <input class="btn-publication" type="submit" value="Опубликовать" > <br>
            <span>{{ error }}</span>
    </form>
    </div>

{% endblock %}

