<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="../../static/src/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../../static/css/style_base.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style_seller.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style_add_apartment.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style_buyers.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style_index.css">
</head>
<body>
    <div class="menu-main">
        <img src="../../static/src/favicon.ico" class="head-img"/>
        <b>Агентство недвижимости</b>
        <li><a href="{% url 'head-page' %}" class="current">Главная</a></li>
        <li><a href="{% url 'sellers-page' %}">Недвижимость</a></li>
        <li><a href="{% url 'buyers-page' %}">Покупатели</a></li>
        <li><a href="{% url 'add-apartment-page' %}">На продажу</a></li>
<!--        <div class="last-btn-aut">-->
<!--            <a href="{% url 'add-apartment-page' %}">Авторизация</a>-->
<!--            <a href="{% url 'add-apartment-page' %}">Регистрация</a>-->
<!--        </div>-->
    </div>

    <div class="container">
        {% block content %} {% endblock %}
    </div>

</body>
</html>