.grid-container {
  display: grid;
  gap: 20px 40px;
  grid-template-columns: auto auto auto;
  background: linear-gradient(45deg, #FFFFFF, #C5DDE8);
  border-radius: 10px;
  padding: 8px;
  opacity: 0.9;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.cards {
  border: 2px solid rgba(0, 125, 215, 0.8);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background: linear-gradient(180deg, #cbe4f3 0%, #676767 100%);
}

.grid-item-fio{
  font-size: 16px;
  font-family: Verdana;
  align-items: center;
  font-weight: bolder;
}
.grid-item{
  font-size: 16px;
  font-family: Verdana;
  font-weight: bolder;
}

.grid-item-data{
  font-size: 16px;
  font-family: fantasy;
}
.btn-add-seller{
    border: 2px solid rgba(243, 120, 46, 0.8);
    align-content: center;
    align-items: center;
    text-align: right;
    background-color: whitesmoke;
    border-radius: 20px 20px 20px 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: #3c64e5;
}


.btn-add-seller{
    border: 2px solid rgba(4, 140, 252, 0.8);
    background-color: whitesmoke;
    border-radius: 20px 20px 20px 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: #3c64e5;
}

.btn-add-seller:hover{
     background-color: #7faaec;
}

.btn-add-seller:active{
     background-color: #c4d0e1;
}
.btn-cls{
    border-radius: 10px;
    padding: 8px;
    opacity: 0.9;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: right;
}
.btns-sellers{
    text-align: right;
    padding: 15px 0 0 0;
}
.btn-sell{
    border: 2px solid rgba(4, 140, 252, 0.8);
    align-content: center;
    align-items: center;
    text-align: right;
    background-color: whitesmoke;
    border-radius: 20px 20px 20px 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: #3c64e5;
}
.btn-sell:hover{
     background-color: #7faaec;
}
.btn-sell:active{
     background-color: #c4d0e1;
}
