.grid-container-buyers {
  display: grid;
  gap: 20px 40px;
  grid-template-columns: auto auto;
  background: linear-gradient(45deg, #FFFFFF, #C5DDE8);
  border-radius: 10px;
  padding: 8px;
  opacity: 0.9;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.cards-buyers {
  border: 2px solid rgba(243, 120, 46, 0.8);
  border-radius: 10px;
  padding: 20px;
  font-size: 15px;
  text-align: left;
  background: linear-gradient(180deg, #cbe4f3 0%, #676767 100%);
  align-content: center;
  align-items: center;
}
.table-buyers{
  text-align: center;
  font-family: Verdana;
  font-size: 18px;
  font-weight: lighter;
  width: 100%;
}

.btns{
   text-align: right;
}
.btn-red-data{
    border: 2px solid rgba(243, 120, 46, 0.8);
    align-content: center;
    align-items: center;
    text-align: right;
    background-color: whitesmoke;
    border-radius: 20px 20px 20px 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: #3c64e5;
}
.btn-red-data:hover{
    background: #e5883c;
}
.btn-red-data:active{
    background: #ded9d6;
}

.btn-add-buyer{
    border: 2px solid rgba(243, 120, 46, 0.8);
    align-content: center;
    align-items: center;
    text-align: right;
    background-color: whitesmoke;
    border-radius: 20px 20px 20px 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: #3c64e5;
}
.btn-add-buyer:hover{
     background-color: #e5883c;
}
.btn-add-buyer:active{
     background-color: #c4d0e1;
}
